#vs code extantions
.vscode

#ignoring packages
.Python
build/
dist/
htmlcov/
.venv/
venv
.eggs/
eggs/
downloads
*.egg-info/
*.egg
.coverage
output/

# ipython checkpoints 
.ipynb_checkpoints
__pycache__/
.ipynb

# Unwanted files formates
.pdf
.png
.jpg
.jpeg
.csv
.DS_Store